<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common::commonStyle('用户管理',~{::link})">
    <link rel="stylesheet" th:href="@{/static/adminlte/plugins/datatables/dataTables.bootstrap.css}">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- 引入header-->
    <div  th:replace="common/common::commonHeader"></div>
    <!-- 引入left菜单栏 -->
    <div th:replace="common/common::commonLeft(1)"></div>

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1><small></small></h1>
            <ol class="breadcrumb">
                <li><a><i class="fa fa-dashboard"></i>中心</a></li>
                <li><a href="#">用户列表</a></li>
                <li class="active">用户详情</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-header with-border">
                    <h3 class="box-title">用户详情</h3>
                </div>
                <div class="box-body">
                    <!-- info row -->
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>编号：<span th:text="${user.id}"></span></h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>姓名：<span th:text="${user.username}"></span></h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>工号：<span th:text="${user.jobNo}"></span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <h5>U米：<span th:text="${user.points}"></span></h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>成长值：<span th:text="${user.growthValue}"></span></h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>入职时间：<span th:text="${#dates.format(user.entryTime, 'yyyy-MM-dd')}"></span></h5>
                        </div>
                        <div class="col-sm-3">
                            <h5>工龄：<span th:text="${user.workingAge}"></span></h5>
                        </div>
                    </div>
                </div>
                <div class="box-header with-border"></div>
                <div class="box-body">
                    <div class="row">
                        <!-- accepted payments column -->
                        <div class="col-xs-6">
                            <h4>
                                <i class="fa fa-list-ol"></i> 近期U米消耗记录
                                <small class="pull-right">
                                    <i class="fa fa-hand-o-right"></i>&nbsp;<a href="#" onclick="alert('暂未开发')">更多</a>
                                </small>
                            </h4>
                            <!--<p class="lead"><strong>近期布积分消耗记录</strong></p>-->
                            <!--<small class="pull-right">更多</small>-->
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="width:50%">说明</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="m:${points}">
                                        <!--( (${execMode} == 'dev')? 'Development' : 'Production')-->
                                        <td th:text="((${m.explanation.length()} < 50)?${m.explanation}:${#strings.substring(m.explanation,0,50)+'...'})"/>
                                        <!--<td th:text="${m.explain.length} gt 10?${#strings.substring(m.explain , 0, 10)}:{m.explain}"/>-->
                                        <td th:text="${m.score}"/>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6">
                            <h4>
                                <i class="fa fa-list-ol"></i> 近期成长值消耗记录
                                <small class="pull-right">
                                    <i class="fa fa-hand-o-right"></i>&nbsp;<a href="#" onclick="alert('暂未开发')">更多</a>
                                </small>
                            </h4>
                            <!--<small class="pull-right">Date: 2/10/2014</small>-->
                            <!--<p class="lead"><strong>近期成长值消耗记录</strong></p>-->
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>说明</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tr th:each="m:${growth}">
                                        <!--( (${execMode} == 'dev')? 'Development' : 'Production')-->
                                        <td th:text="((${m.explanation.length()} < 50)?${m.explanation}:${#strings.substring(m.explanation,0,50)+'...'})"/>
                                        <!--<td th:text="${m.explain.length} gt 10?${#strings.substring(m.explain , 0, 10)}:{m.explain}"/>-->
                                        <td th:text="${m.score}"/>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </section>
        <!-- section end -->
    </div>
    <div th:replace="common/common::commonFooter"></div>
</div>

<div th:replace="common/common::commonScript(~{::script})">
    <!--<script th:src="@{/adminlte/plugins/iCheck/icheck.min.js}"></script>-->
    <!--<script>-->
        <!--var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];-->
    <!--</script>-->
    <script th:src="@{/static/adminlte/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/static/adminlte/plugins/datatables/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/static/adminlte/plugins/daterangepicker/moment.min.js}"></script>
    <script th:src="@{/static/js/xxl.alert.1.js}"></script>
    <script th:src="@{/static/js/garbage.js}" th:inline="javascript"></script>
    <script th:replace="common/common::outerJs01"></script>
</div>
</body>
</html>
